.hero-image {
  background-image: url('../../img/give.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(106, 67, 143);
}
